.home-page{
    height: 90vh;
    width: 100%;
    background-image: url(https://res.cloudinary.com/dgvpl7cdq/image/upload/v1674866035/vc9svmlfp365zt2esfmt.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center; 
}

.home-page .intro{
    max-width: 660px;
    width: fit-content;
    position: absolute;
    left: 5%;
    top: 15%;
}

.home-page .intro h1{
    font-size: 4.375rem;
    line-height: 5rem;
    margin-bottom: 20px;
}


.home-page .intro h1 , .home-page .intro  p{
    color: rgb(50, 49, 49);
}

.home-page .intro  p{
    font-size: xx-large;
}

.home-btn{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.button-66 {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}