.user-msg {
    position: fixed;
    bottom: 40px;
    left: 90px;
    transform: translate( -40px);
    width: fit-content;
    background-color: rgb(208, 206, 139);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1s;
}

.user-msg.shown{
    opacity: 1;
}
.success {
    background-color: rgb(57, 57, 59);
    color: aliceblue;
    font-size: larger;
}
.error {
    background-color: rgb(187, 104, 104);
}