/* NOTE-FILTER-ADD */

.filter-add-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-block: 20px;
}

.filter-add-container input{
    width: 60%;
    height: 48px;
    padding: 11px;
    background-color: #eaf1fb;
    color: var(--clr5);
    border-radius: 5px;
    border: none;
    outline: none;
}



/* NOTE-LIST */
.list-container {
    overflow: auto;
    height: calc(90vh - 92.2px);
    padding-inline-end: 5px;
}

.note-list {
    column-gap: 10px;
    column-width: 200px;
    margin: 0;
    padding-block: 20px;
}



/* NOTE-PREVIEW */

.note-preview {
    height: fit-content;
    max-width: 400px;
    padding: 20px;
    border-radius: 4px;
    break-inside: avoid;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.note-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    content-visibility: auto;
    background-color: #eee;
}

.todo-list {
    display: flex;
    gap: 2px;
}

.note-preview h1 {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 10px;
}

.note-action-btn {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s;
}

.visible {
    opacity: 1;
}

.delete-icon,
.pin-icon {
    cursor: pointer;
    height: 20px;
    width: 20px;
    filter: contrast(calc(2 / 44));
    transition: 0.4s;
}

.delete-icon:hover,
.pin-icon:hover {
    filter: contrast(calc(100 / 44));
}

.pin-icon:hover {
    transform: rotate(25deg);
}

/* NOTE-EDIT */

.edit-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    padding: 20px;
    transition: 0.4s;
}


.note-todos-edit>*:not(:last-child) {
    margin-bottom: 10px;
}

.edit-modal input {
    all: unset;
    color: rgb(62, 59, 59);
    border: 1px grey solid;
    padding: 10px;
    border-radius: 10px;
}

.note-type-choose-container{
    display: flex;
    gap: 10px; 
    margin-bottom: 20px;
 }

.note-type-choose-container img{
    cursor: pointer;
    width: 24px;
    height: 24px;
    filter: contrast(calc(2 / 44));
    transition: 0.4s;
}

.note-type-choose-container img:hover{
    filter: contrast(calc(100 / 44));
}

.note-img-edit,
.note-todos-edit,
.note-txt-edit,
.note-video-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* COLOR-PICKER */

.colors-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.colors-container>* {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.colors-container>*:hover {
    border: 1px black solid;
}

.done {
    text-decoration-line: line-through;
}

/* EDIT */

.note-todos-edit .label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.todo-list-edit {
    overflow: auto;
    height: 200px;
    padding: 10px;
}

.todo-list-edit::-webkit-scrollbar , .list-container::-webkit-scrollbar {
    width: 5px;
}

.todo-list-edit::-webkit-scrollbar-track , .list-container::-webkit-scrollbar-track  {
    border-radius: 10px;
    background: rgb(226, 231, 233);
}

.todo-list-edit::-webkit-scrollbar-thumb , .list-container::-webkit-scrollbar-thumb  {
    border-radius: 10px;
    background: rgb(182, 170, 192);
}

.note-todos-edit p {
    font-size: 20px;
}

.todo-list-edit>* {
    padding: 10px;
    border: 1px grey solid;
    border-radius: 10px;
}

.todo-edit {
    display: flex;
    align-items: center;
}

.todo-list-edit>*:not(:last-child) {
    margin-bottom: 10px;
}

.todo-list-edit input {
    all: unset;
    color: black;
}

.edit-btn {
    margin-top: 20px;
    margin-inline: 43%;
}