/* EMAIL-HEADER */

section .email-container {
    /* height: 80vh; */
    /* width: 100vw; */
}

.email-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 270px 83fr;
    grid-template-rows: 70px 90fr;
    align-items: center;
    justify-items: flex-start;
}



.email-header {
    padding: 0;
    grid-row: 1;
    grid-column: 1;
}

.logo {
    margin-left: 20px;
}

.logo svg {
    cursor: pointer;
    display: none;
}

.search-mail {
    grid-column: 2;
    width: 99%;
    height: 48px;
    padding: 11px;
    background-color: #eaf1fb;
    color: var(--clr5);
    border-radius: 5px;
    border: none;
}

/* EMAIL-FILTER */

.email-filter {
    width: 90%;
    padding: 0;
    align-self: flex-start;
    justify-self: flex-start;
    grid-row: 2;
}



.email-filter>* {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.4S;
}

.unread-count {
    justify-self: flex-end;
}

.email-filter>* img {
    filter: contrast(calc(2 / 44));
    height: 20px;
    width: 20px;
}


.compose-btn {
    border-radius: 20px;
    justify-content: flex-start;
    font-weight: 600;
    width: 60%;
    height: 56px;
    gap: 15px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 24px;
    background-color: #c2e7ff;
    box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #0000;
    margin-bottom: 16px;
}

.compose-btn:hover {
    box-shadow: 2px 3px 5px 0px rgba(81, 81, 94, 0.75);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(81, 81, 94, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(81, 81, 94, 0.75);
}


.email-filter>*:not(.active, .compose-btn):hover {
    background-color: rgb(235, 236, 236);
}


.active {
    background-color: #d2e3fc;
}

.active p {
    color: rgb(55, 54, 54);
    font-weight: 600;
}

.active img,
.compose-btn img {
    filter: contrast(calc(100 / 44));
}



/* EMAIL-LIST */

.email-list {
    align-self: flex-start;
    grid-column: 2;
    grid-row: 2;
    background-color: white;
    border-radius: 15px;
    height: calc(90vh - 90px);
    width: 99%;
    padding-top: 50px;
}

.email-list ul {
    margin: 0;
    height: 100%;
    overflow: auto;
    padding-inline-end: 4px;
}

.email-list ul li {
    width: 100%;
}

.email-list ul li{
    border-bottom: 2px #e9e9e9 solid;
}

.email-preview {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    display: grid;
    grid-template-columns: 2% 2% 15% 61% 20%;
    align-items: center;
    justify-items: flex-start;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4S;
}

.action-btn {
    justify-self: flex-end;
}

.action-btn img {
    filter: contrast(calc(2 / 44));
    height: 15px;
    width: 15px;
}

.action-btn img:hover {
    filter: contrast(calc(100 / 44));
}


.date-preview {
    justify-self: flex-end;
}


.grey {
    background-color: #f2f6fc;
    font-weight: normal;
}

.email-preview:hover{
    box-shadow: 1px 2px 5px 0px rgba(149, 150, 154, 0.75);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(149, 150, 154, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(149, 150, 154, 0.75);
}

/* EMAIL-DETAILS */

.email-details {
    padding: 20px;
}

.email-details h1 {
    font-size: 30px;
    color: rgb(75, 74, 74);
}

.email-details p {
    line-height: 30px;
}

.email-details img {
    cursor: pointer;
    margin-bottom: 10px;
}

/* COMPOSE */

.composed-form {
    position: fixed;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    flex-direction: column;
}


.composed-form>* {
    width: 35vw;
}

.composed-form input {
    padding: 20px;
    border-bottom: 0.1px rgb(219, 218, 230) solid;
}

.composed-form .send {
    border: none;
    border-top: 0.1px rgb(219, 218, 230) solid;
}

.composed-form textarea {
    height: 30%;
    border: none;
    resize: none;
}

.to,
.subject {
    border: 0px black;
    border-bottom: 1px grey solid;
}

.form-header button {
    background-color: var(--clr1);
    border: 0px black;
}

.form-header {
    background-color: var(--clr1);
}

.opacity-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0%;
    top: 0%;
    opacity: 0.5;
    background-color: black;
}

@media (max-width: 720px) {
    .email-filter {
        all: unset;
        padding-top: 20px;
        margin: 0;
        position: fixed;
        height: 100vh;
        width: 50vw;
        left: -50%;
        top: 0;
        transition: 0.4s;
        background-color: white;
    }
    .compose-btn{
        width: 70%;
        gap: 7px;
    }

    .email-filter>*:not(:first-child) {
        border-radius: 0;
    }

    .email-preview {
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-columns: 20px 20px 1fr;
        justify-items: flex-start;
    }

    .body-preview , .date-preview , .email-preview div  {
        grid-column: 1/span 3;
    }

    .email-preview img,
    .email-preview .fullname {
        grid-row: 1;
    }

    .date-preview {
        grid-row: 3;
    }

    .email-filter.opened {
        left: 0;
    }

    .email-list {
        grid-column: 1/span 2;
    }

    .email-container {
        grid-template-columns: 20% 80%;
    }

    .search-mail {
        width: 98%;

    }

    .logo img {
        display: none;
    }

    .logo svg {
        display: inline-block;
    }

    .opacity-wrapper {
        display: inline-block;
    }

    .composed-form>* {
        width: 100vw;
    }
}