.main-layout {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.simple-cards-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: dense;
}

